version: '3'

services:
  web:
    build: .
    expose:
      - 5000
    volumes:
      - ./app:/app
    environment:
      - FLASK_ENV=production
    restart: always

  nginx:
    image: nginx:latest
    ports:
      - 1235:80
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - web
    restart: always
